---
title: Custom popups
description: Customize popups on a Feature Layer. More information about Feature Layers can be found in the <a href="../api-reference/layers/feature-layer.html">L.esri.Layers.FeatureLayer</a> documentation.
layout: example.hbs
---

<div id="map"></div>

<script>
  var map = L.map('map').setView([36.180998, -86.728040], 13);

  L.esri.basemapLayer('Streets').addTo(map);

  var trees = L.esri.featureLayer({
    url: 'https://services1.arcgis.com/Hp6G80Pky0om7QvQ/arcgis/rest/services/EKIP_PASS_ISSUANCE_YES_ONLY/FeatureServer/0'
  }).addTo(map);

  trees.bindPopup(function (evt) {
    return L.Util.template('<p>{FEDERAL_RE}<br>{PHONE1}<br>{WEBSITE}</p>', evt.feature.properties);
  });
</script>
